.text-overlay {
    position: absolute;
    left: 20px;
    top: 100px;
    color: #fff;
    text-align: left;
}

.text-line {
    margin-bottom: 5px;
}

.text-line:first-child {
    font-size: 16px;
}

.text-line:not(:first-child) {
    font-size: 14px;
}

/* volume slider */
.volume-slider-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    color: #fff;
}

.volume-slider {
    margin-left: 10px;
}

.volume-slider {
    margin-left: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 8px;
    background: transparent;
    border: 2px solid #85ebd9;
    
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #85ebd9;
    cursor: pointer;
}

.volume-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #85ebd9;
    cursor: pointer;
}

.volume-slider::-ms-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #85ebd9;
    cursor: pointer;
}
